# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# Visual Studio cache directory
/.vs/

# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.cachefile
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds

# Visual Studio profiler
*.psess
*.vsp
*.vspx